*{
    box-sizing: border-box;
}
#header-nav{
    background-color: lightblue;
    border-radius: 0;
    border: 0;
} 
.navbar-brand > a {
    color: blue;
    font-weight: bold;
    text-shadow: lightblue;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    width: 100%;
    padding: 0%;
    margin: 0%;
    
}
li {
    text-align: center;
}
li > a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
}
li:hover{
    background-color: whitesmoke;
}
.navbar-toggle:focus{
    outline: 0;
}
.navbar-toggle .icon-bar{
    display: block;
    width: 22px;
    height: 7px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar{
    margin-top: 4px;
    border-radius: 1px;
}
#titulo{
    color: blue;
    font-weight: bold;
    text-shadow: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}
p{
    color: white;
    background-color: steelblue;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif; 
}

@media (min-width: 992px) {
    .col-md-11 {
        width: 100%;
        height: 1600%;
        background-color: lightblue;
        border: 1px solid black;
        margin-bottom: 20px;
        position: relative;
        left: 4%;
        padding: 0% 2% 2% 2%;

        
    }
}
/*Tablet View*/
@media (min-width: 768px) and (max-width: 991px) {
   .col-sd-11 {
       width: 100px;
       height: 3600%;
       background-color: lightblue;
        border: 1px solid black;
        margin-bottom: 20px;
        position: relative;
        left: 4%;
        padding: 0% 2% 2% 2%;
        
        
    }
}

@media (max-width: 767px){
    .col-xs-12 {
        width: 95%;
        height: 4010%;
        background-color: lightblue;
        border: 1px solid black;
        margin-bottom: 20px;
        position: relative;
        left: 2.5%;
        padding: 0% 2% 2% 2%;
        

        
        
        
    }
    
}
@media (min-width: 767px){
    .navbar-toggle{
        position: relative;
        float: left;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        display: none;
    }
}





